/* Reset some default styles */
body,
h1,
h2,
p,
input,
button {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

body {
    background-color: #aee3c3;
}

/* Center everything */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    /* element type selector */
    color: blue;
}

p {
    font-size: 16px;
}

input[type="text"] {
    border-radius: 7px;
}

input[type="text"]:focus {
    outline: 2px solid black;
    transition: outline-color 0.3s ease;
}

button {
    cursor: pointer;
    border-radius: 7px;
}

#save {
    color: rgb(0, 0, 0);
}

#save:hover {
    /* id selector */
    outline: 2px solid black;
}

#clear {
    color: rgb(255, 0, 0);
}

#clear:hover {
    outline: 2px solid black;
}
